@layer loader {
  .loader {
    display: none;
  }

  @media (scripting: enabled) {
    html.loading {
      body {
        display: grid;
        min-height: 100vh;
        place-items: center;

        .loader {
          animation-direction: alternate;
          animation-duration: 2000ms;
          animation-iteration-count: infinite;
          animation-name: loader;
          animation-timing-function: ease-in-out;
          display: block;
          font-size: clamp(2rem, 2.5vh, 4rem);
        }
      }
    }
  }
}

@keyframes loader {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
