@layer reset, loader, base;

@layer reset {
  html {
    box-sizing: border-box;
    color-scheme: light dark;
    font-family: 'Literata', serif;
    font-optical-sizing: auto;
    font-size: clamp(100%, 75% + 1vmin, 200%);
    font-synthesis-small-caps: none;
    font-synthesis-style: none;
    font-synthesis-weight: none;
    font-weight: 400;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
    font: unset;
    line-height: unset;
    margin: unset;
    min-height: 0;
    min-width: 0;
    padding: unset;
  }

  *:focus {
    outline: unset;
  }
}
