PATH_add node_modules/.bin
suppress=$(expand_path ./suppress.cjs)
export NODE_OPTIONS="--require ${suppress} --unhandled-rejections=strict --experimental-json-modules --experimental-import-meta-resolve"
dotenv
