use flake ./dev-nix-shell
suppress=$(expand_path ./dev-suppress/index.cjs)
export NODE_OPTIONS_PRODUCTION="--unhandled-rejections strict"
export NODE_OPTIONS="--require ${suppress} --experimental-json-modules ${NODE_OPTIONS_PRODUCTION}"
export DBMATE_MIGRATIONS_DIR=db/src/migrate
export DBMATE_MIGRATIONS_TABLE=migration
export CARGO_HOME=$(expand_path ./.cargo)
PATH_add $CARGO_HOME/bin
dotenv
