if ! has nix_direnv_version || ! nix_direnv_version 2.3.0; then
  source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/2.3.0/direnvrc" "sha256-Dmd+j63L84wuzgyjITIfSxSD57Tx7v51DMxVZOsiUD8="
fi

PATH_add node_modules/.bin
suppress=$(expand_path ./suppress.cjs)
export NODE_OPTIONS_PRODUCTION="--unhandled-rejections strict"
export NODE_OPTIONS="--require ${suppress} --experimental-json-modules --experimental-import-meta-resolve ${NODE_OPTIONS_PRODUCTION}"
export DBMATE_MIGRATIONS_DIR=db/src/migrate
export DBMATE_MIGRATIONS_TABLE=migration
dotenv
