[advisories]
db-path = "build/advisory-db"
db-urls = ["https://github.com/rustsec/advisory-db"]
vulnerability = "deny"
unmaintained = "deny"
yanked = "deny"
notice = "deny"

[licenses]
unlicensed = "deny"
allow = ["Apache-2.0", "BSD-3-Clause", "ISC", "LicenseRef-ring", "MIT", "Unicode-DFS-2016"]
default = "deny"
confidence-threshold = 0.8

[[licenses.clarify]]
name = "ring"
expression = "LicenseRef-ring"
license-files = [{path = "LICENSE", hash = 0xbd0eed23}]

[licenses.private]
ignore = true

[bans]
multiple-versions = "deny"
wildcards = "deny"

[[bans.skip]]
name = "futures"
version = "=0.1.31"

[[bans.skip-tree]]
name = "redox_syscall"
version = "0.4.1"

[[bans.skip-tree]]
name = "watchman_client"
version = "0.8.0"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = ["https://github.com/rust-lang/crates.io-index"]
allow-git = []

[sources.allow-org]
github = []
gitlab = []
bitbucket = []
